body {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
.logo {
  padding: 1rem 3rem;
}
ul {
  list-style: none;
  li {
    display: inline-block;
    padding: 1rem 3rem;
  }
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  input {
    border-radius: 1rem;
    width: 50%;
    padding: 1rem;
  }
}
.filters {
  padding: 1rem 2rem;
}
.restaurant-container {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  .restaurant-card {
    box-sizing: border-box;

    width: 200px;
    /* height: 300px; */
    background-color: #f0f0f0;
    padding: 1rem;

    img {
      width: 100%;
    }
  }

  .restaurant-card:hover {
    border: 2px solid black;
    cursor: pointer;
  }
}

.shimmer-container {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  .shimmer-card {
    box-sizing: border-box;

    width: 200px;
    height: 300px;
    background-color: #f0f0f0;
    padding: 1rem;
  }

  .shimmer-card:hover {
    border: 2px solid black;
    cursor: pointer;
  }
}
